body {
	padding-top: 20px;
}

#logo {

}

#profile {
	border-radius: 50px;
}

.intro {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #ED3B3B;
	border-radius: 15px;
}

.skill_area {
	padding-top: 5px;
	padding-bottom: 5px;
	border-style: solid;
	border-radius: 15px;
	border-color: #ED3B3B;
}

.fa-github, .fa-medium, .fa-facebook, .fa-twitter-square, .fa-linkedin {
	color: #ED3B3B;
}

.fa-code {
	text-align: center;
	font-size: 7em;
	color: #ED3B3B;
}
