body {
	padding-top: 20px;
	background-color: lightgray;
}

hr {
	border-color: #ED3B3B;
}

#logo {

}

#profile {
	border-radius: 50px;
	border-color: #ED3B3B;
	border-style: solid;
	border-width: 3px;
}

.intro {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #ED3B3B;
	border-radius: 15px;
}

.skill_area {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 3px;
	margin-right: 3px;
	border-style: solid;
	border-radius: 15px;
	border-color: #ED3B3B;
}

.fa-github, .fa-medium, .fa-facebook, .fa-twitter-square, .fa-linkedin {
	color: #ED3B3B;
}

.fa-code, .fa-desktop{
	text-align: center;
	font-size: 7em;
	color: #ED3B3B;
}
